services:
    base:
        platform: ${PLATFORM:-linux/arm64}
        image: asia-docker.pkg.dev/hieumdd/docker-1/bap-be-bot${TAG:-dev}
        build: .
        container_name: bap-be-bot-base
        command: ["echo", "Build Completed"]

    telegram-bot:
        image: asia-docker.pkg.dev/hieumdd/docker-1/bap-be-bot${TAG:-dev}
        depends_on:
            - base
        container_name: bap-be-bot-telegram
        entrypoint: ["python", "-m", "app.bot.telegram"]
        env_file: .env
        networks:
            - bap-be-bot

    discord-bot:
        image: asia-docker.pkg.dev/hieumdd/docker-1/bap-be-bot${TAG:-dev}
        depends_on:
            - base
        container_name: bap-be-bot-discord
        entrypoint: ["python", "-m", "app.bot.discord"]
        env_file: .env
        networks:
            - bap-be-bot

networks:
    bap-be-bot:
        driver: bridge
