name: Start k3s

on:
  schedule:
    - cron: "*/15 * * * *"
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  start:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ env.GCP_SA_KEY }}

      - uses: google-github-actions/setup-gcloud@v3

      - run: gcloud compute ssh --zone ${{ env.K3S_ZONE }} ${{ env.K3S_INSTANCE }}
